body, html {
 background: #222;
}
#main {
 background-image: linear-gradient(to bottom,black,#333);
 box-shadow: 1px 1px 2px #CCC;
 border: 1px solid black;
 border-radius: 5px;
 color: white;
}
#chart {
 padding-top: 5px;
}
.navlist {
 padding: 2px;
 border-bottom: 1px dotted #333;
 margin: 0;
}
.navlist li {
 display: inline-block;
 padding: 5px;
 border-radius: 3px;
}
.navlist li:HOVER {
 background: #333;
}
.navlist li a, .navlist li a:VISITED {
 color: #CCC;
 text-decoration: none;
}
.navlist li.selected {
 background: #333;
}

.icon-links {
 font-size: 2rem;
}
.icon-links a, .icon-links a:VISITED {
 color: #333;
}
.icon-links a:HOVER {
 color: white;
}
icon-links a.selected {
 color: #66F;
}