body, html {
 background: #444;
}
#main {
}
.container {
 padding: 10px;
 background-image: linear-gradient(to bottom,black,#333);
 min-height: 300px;
}

.navlist {
 margin: 0px;
 padding: 0px;
}
.navlist li {
 display: inline-block;
 margin: 0px 5px;
 padding: 5px;
 border: 1px solid black;
}
.navlist.tab-top li {
 border-radius: 5px 5px 0px 0px;
 background: linear-gradient(to bottom, #45484D 22%, #000 100%);
}
.navlist.tab-bottom li {
 border-radius: 0px 0px 5px 5px;
 background: linear-gradient(to top, #45484D 22%, #000 100%);
}

.navlist li a, .navlist li a:VISITED {
 color: #CCC;
 text-decoration: none;
}
.navlist.tab-top li.selected {
 background: linear-gradient(to bottom, #45664D 2%, #000 100%);
}
.navlist.tab-bottom li.selected {
 background: linear-gradient(to top, #45664D 2%, #000 100%);
}
.navlist li.selected a {
 color: white;
}
.icon {
 padding-right: 5px; 
}
