
body, html {
 background: black;
}
.dark {
 background: black;
}
#main {
}
.content {
 background-image:url("./img/bkd-coin-typeset.jpg");
 background-repeat: no-repeat;
 background-position: center 25%;
}
.dark {
 color: white;
}
.right {
 float: right;
}
.container {
 padding: 10px;
 color: white;
/* background-image: linear-gradient(to bottom,black,#333); */
 background: rgba(0,0,0,.8);
 min-height: 400px;
 border-radius: 5px;
 border: 1px solid #333;
}
.navlist.buttonlist {
 padding: 10px;
}
.navlist.buttonlist li {
 background-image: linear-gradient(to top,black,#333); 
 border: 1px solid #333;
 border-radius: 5px;
}

.navlist {
 margin: 0px;
 padding: 0px;
}
.navlist li {
 display: inline-block;
 margin: 0px 5px;
 padding: 5px;
}
.navlist.tab-top li {
 border-radius: 5px 5px 0px 0px;
 background: linear-gradient(to bottom, #45484D 22%, #000 100%);
 border: 1px solid black;
}
.navlist.tab-bottom li {
 border-radius: 0px 0px 5px 5px;
 background: linear-gradient(to top, #45484D 22%, #000 100%);
 border: 1px solid black;
}

.navlist li a, .navlist li a:VISITED {
 color: #CCC;
 text-decoration: none;
}
.navlist.tab-top li.selected {
 background: linear-gradient(to bottom, #45664D 2%, #000 100%);
}
.navlist.tab-bottom li.selected {
 background: linear-gradient(to top, #45664D 2%, #000 100%);
}
.navlist li.selected a {
 color: white;
}

.icon {
 padding-right: 5px; 
}

table.std {
 border-collapse: collapse;	
}
table.std thead tr {
 background: linear-gradient(to top, #45484D 22%, #000 100%);
}
.scrollable {
 display: inline-block;
 border: 1px solid #333;
 max-height: 156px;
 overflow-y: scroll;
}

.w200 {
 width: 200px;
}